@media screen and (min-width:425px) {
	$width: 1519;
}

.modal {
	input, select, textarea {
		border: none;
		appearance: none;
	}
	.close-modal {
		display: none !important;
	}
	.title {
		font-size: 1.458vw;
		font-weight: 900;
		line-height: 1.771vw;
		color: #000000;
		margin-bottom: 0.573vw;
	}
	label {
		font-size: 1.042vw;
		font-weight: bold;
		line-height: 1.771vw;
		padding-left: 0.521vw;
	}
	.button_blc {
		display: flex;
		align-items: center;
		margin-top: 29/$width*100vw;
		margin-bottom: 1.5vw;
	}
	a.button[rel="modal:close"] {
		line-height: 2.1875vw;
		padding: 0;
		width: 5vw;
		margin-right: 1.146vw;
		font-weight: normal;
		color: #6A6A75;
    	border: #6A6A75 1vw;
		text-align: center;
		&:hover {
			color: #FFFFFF;
		}
	}
	input[type=text] {
		display: block;
		width: 100%;
		font-size: 0.885vw;
		line-height: 1.771vw;
		color: #000000;
		padding: 0.26vw 0.729vw 0.365vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		box-sizing: border-box;
		margin-top: 0.26vw;
		margin-bottom: 0.729vw;
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&::-moz-placeholder {
			color: #000000;
		}
		&:-ms-input-placeholder {
			color: #000000;
		}
		&::-ms-input-placeholder {
			color: #000000;
		}
		&::placeholder {
			color: #000000;
		}
	}
	input[type=tel] {
		display: block;
		width: 100%;
		font-size: 0.885vw;
		line-height: 1.771vw;
		color: #000000;
		padding: 0.26vw 0.729vw 0.365vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		box-sizing: border-box;
		margin-top: 0.26vw;
		margin-bottom: 0.729vw;
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&::-moz-placeholder {
			color: #000000;
		}
		&:-ms-input-placeholder {
			color: #000000;
		}
		&::-ms-input-placeholder {
			color: #000000;
		}
		&::placeholder {
			color: #000000;
		}
	}
	input[type=email] {
		display: block;
		width: 100%;
		font-size: 0.885vw;
		line-height: 1.771vw;
		color: #000000;
		padding: 0.26vw 0.729vw 0.365vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		box-sizing: border-box;
		margin-top: 0.26vw;
		margin-bottom: 0.729vw;
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&::-moz-placeholder {
			color: #000000;
		}
		&:-ms-input-placeholder {
			color: #000000;
		}
		&::-ms-input-placeholder {
			color: #000000;
		}
		&::placeholder {
			color: #000000;
		}
	}
	input[type=url] {
		display: block;
		width: 100%;
		font-size: 0.885vw;
		line-height: 1.771vw;
		color: #000000;
		padding: 0.26vw 0.729vw 0.365vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		box-sizing: border-box;
		margin-top: 0.26vw;
		margin-bottom: 0.729vw;
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&::-moz-placeholder {
			color: #000000;
		}
		&:-ms-input-placeholder {
			color: #000000;
		}
		&::-ms-input-placeholder {
			color: #000000;
		}
		&::placeholder {
			color: #000000;
		}
	}
	input[type=date] {
		display: block;
		width: 100%;
		font-size: 0.885vw;
		line-height: 1.771vw;
		color: #000000;
		padding: 0.26vw 0.729vw 0.365vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		box-sizing: border-box;
		margin-top: 0.26vw;
		margin-bottom: 0.729vw;
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&::-moz-placeholder {
			color: #000000;
		}
		&:-ms-input-placeholder {
			color: #000000;
		}
		&::-ms-input-placeholder {
			color: #000000;
		}
		&::placeholder {
			color: #000000;
		}
	}
	textarea {
		display: block;
		width: 100%;
		font-size: 0.885vw;
		line-height: 1.771vw;
		color: #000000;
		padding: 0.26vw 0.729vw 0.365vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		box-sizing: border-box;
		margin-top: 0.26vw;
		margin-bottom: 0.729vw;
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&::-moz-placeholder {
			color: #000000;
		}
		&:-ms-input-placeholder {
			color: #000000;
		}
		&::-ms-input-placeholder {
			color: #000000;
		}
		&::placeholder {
			color: #000000;
		}
	}
	select {
		display: block;
		width: 100%;
		font-size: 0.885vw;
		line-height: 1.771vw;
		color: #000000;
		padding: 0.26vw 0.729vw 0.365vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		box-sizing: border-box;
		margin-top: 0.26vw;
		margin-bottom: 0.729vw;
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&::-moz-placeholder {
			color: #000000;
		}
		&:-ms-input-placeholder {
			color: #000000;
		}
		&::-ms-input-placeholder {
			color: #000000;
		}
		&::placeholder {
			color: #000000;
		}
	}
	.select.multi {
		>p {
			display: block;
			width: 100%;
			font-size: 0.885vw;
			line-height: 1.771vw;
			color: #000000;
			padding: 0.26vw 0.729vw 0.365vw;
			background: #E8F2FF;
			border-radius: 0.365vw;
			box-sizing: border-box;
			margin-top: 0.26vw;
			margin-bottom: 0.729vw;
			background: #E8F2FF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10'%3E%3Cg id='Default_Copy_2' data-name='Default Copy 2' transform='translate(0 10) rotate(-90)'%3E%3Cpath id='Shape' d='M8.193,17.708.724,10.65a2.242,2.242,0,0,1,0-3.3l1.5,1.414a.321.321,0,0,0,0,.472l7.47,7.057a.962.962,0,0,1,0,1.415,1.105,1.105,0,0,1-1.5,0ZM.724,7.35,8.193.293l1.5,1.415L2.22,8.764ZM8.193.293a1.105,1.105,0,0,1,1.5,0,.962.962,0,0,1,0,1.415Z' transform='translate(0)'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center right 1.042vw;
      background-size: 0.9375vw 0.521vw;
			&::-webkit-input-placeholder {
				color: #000000;
			}
			&::-moz-placeholder {
				color: #000000;
			}
			&:-ms-input-placeholder {
				color: #000000;
			}
			&::-ms-input-placeholder {
				color: #000000;
			}
			&::placeholder {
				color: #000000;
			}
		}
		margin-bottom: 1.875vw;
		label {
			font-weight: normal;
			cursor: pointer;
		}
		li {
			font-size: 0.885vw;
			line-height: 1.771vw;
			color: #000000;
			cursor: pointer;
			&:not(:last-child) {
				border-bottom: 0.052vw solid #979797;
			}
		}
		.sub_professionals {
			padding-left: 1.51vw;
		}
	}
	input[type=submit] {
		line-height: 2.1875vw;
		padding: 0 18/$width*100vw;
		width: 5vw;
		margin-right: 1.146vw;
	}
	input[type=reset] {
		line-height: 2.1875vw;
		padding: 0;
		width: 5vw;
		margin-right: 1.146vw;
		font-weight: normal;
		color: #6A6A75;
		border-color: #6A6A75;
	}
	input[type=button] {
		line-height: 2.1875vw;
		padding: 0;
		width: 5vw;
		margin-right: 1.146vw;
		font-weight: normal;
		color: #6A6A75;
		border-color: #6A6A75;
	}
	input.delete {
		width: 7.65625vw;
	}
	input.location {
		margin-bottom: 1.875vw;
		background: #E8F2FF url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMSAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMDU3MDkgOS43NjMxMkMxLjI5OTQ3IDEwLjAwNTUgMS42OTg5NCAxMC4wMDEgMS45MzY4MyA5Ljc2MzEyTDUuNzgzNDUgNS45MTY1TDkuNjMwMDcgOS43NjMxMkM5Ljg2Nzk2IDEwLjAwMSAxMC4yNjc0IDEwLjAwNTUgMTAuNTA1MyA5Ljc2NzYxQzEwLjc0NzcgOS41MjUyMyAxMC43NDMyIDkuMTI1NzYgMTAuNTA1MyA4Ljg4Nzg3TDYuNjU4NyA1LjA0MTI1TDEwLjUwNTMgMS4xOTQ2M0MxMC43NDMyIDAuOTU2NzQgMTAuNzQ3NyAwLjU1NzI2NiAxMC41MDUzIDAuMzE0ODg5QzEwLjI2NzQgMC4wNzY5OTk4IDkuODY3OTYgMC4wODE0ODgzIDkuNjMwMDcgMC4zMTkzNzdMNS43ODM0NSA0LjE2NkwxLjkzNjgzIDAuMzE5Mzc3QzEuNjk4OTQgMC4wODE0ODgzIDEuMjk5NDcgMC4wNzY5OTk4IDEuMDU3MDkgMC4zMTkzNzdDMC44MTkxOTkgMC41NTcyNjYgMC44MjM2ODcgMC45NTY3NCAxLjA2MTU4IDEuMTk0NjNMNC45MDgyIDUuMDQxMjVMMS4wNjE1OCA4Ljg4Nzg3QzAuODIzNjg3IDkuMTI1NzYgMC44MTkxOTkgOS41MjUyMyAxLjA1NzA5IDkuNzYzMTJaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K") no-repeat center right 1.042vw;
		background-size: 0.78125vw 0.78125vw;
	}
	.multi_selected_items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.selected {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 0.9375vw;
			line-height: 1.302vw;
			color: #ffffff;
			background-color: #1E92FE;
			padding: 0.573vw 0.885vw 0.521vw 0.729vw;
			margin-top: 0;
			margin-right: 1.146vw;
			margin-bottom: .75vw;
			border-radius: 0.365vw;
			transition: all 0.3s linear;
			span {
				position: relative;
				display: inline-block;
				width: 1.09375vw;
				height: 0.833vw;
				margin-left: 0.521vw;
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 1.09375vw;
					height: 0.833vw;
					transform: translate(-50%, -50%);
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.891' height='16.238' viewBox='0 0 20.891 16.238'%3E%3Cpath id='Path_4' data-name='Path 4' d='M0,4.931,7.108,12,18,0' transform='translate(1.41 1.344)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='4'/%3E%3C/svg%3E%0A") no-repeat center center;
          			background-size: cover;
				}
			}
			&:hover {
				background-color: #00193F;
				cursor: pointer;
				span {
					&:after {
						width: 1.458vw;
						height: 1.458vw;
						right: 0.365vw;
						background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.284' height='28.284' viewBox='0 0 28.284 28.284'%3E%3Cpath id='_copy' data-name='􀅼 copy' d='M10,20a.939.939,0,0,0,.931-.931V10.926h8.143a.926.926,0,1,0,0-1.853H10.926V.931a.926.926,0,1,0-1.853,0V9.074H.931a.926.926,0,1,0,0,1.853H9.074v8.143A.937.937,0,0,0,10,20Z' transform='translate(14.142) rotate(45)' fill='%23fff'/%3E%3C/svg%3E%0A") no-repeat center center;
            			background-size: cover;
					}
				}
			}
		}
	}
	.accordion {
		.title {
			text-transform: initial;
		}
	}
	.member_view {
		padding-top: 0.833vw;
		.title {
			font-weight: 600;
			margin-bottom: 0.78125vw;
			font-size: 0.9375vw;
			line-height: 1.25vw;
			color: #00193F;
		}
		.item {
			display: flex;
			align-items: center;
			margin-bottom: 0.677vw;
			.profile_photo {
				width: 2.24vw;
				height: 2.24vw;
				border-radius: 50%;
				overflow: hidden;
				min-width: 2.24vw;
				margin-right: 0.677vw;
				img {
					width: 100%;
				}
			}
			label {
				width: 100%;	
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				font-size: 0.9375vw;
				line-height: 1.25vw;
				font-weight: 400;
				color: #00193F;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
.modal.popup_blc {
	width: 53.333vw;
	max-height: 95vh;
	max-width: initial;
	overflow: auto;
	display: none;
	background: #FFFFFF;
	box-shadow: 0 0.104vw 0.46875vw rgba(0, 0, 0, 0.14221);
	border-radius: 0.365vw;
	padding: 1.823vw 1.927vw 1.927vw;
	box-sizing: border-box;
	>.subtitle {
		font-size: 1.042vw;
		font-weight: bold;
		line-height: 1.771vw;
		padding-left: 0.521vw;
	}
	.drop_zone {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		min-height: 7vw;
		background: #E8F2FF;
		border-radius: 0.365vw;
		margin-bottom: 0.573vw;
		p {
			font-size: 1.042vw;
			font-weight: normal;
			line-height: 1.40625vw;
			color: #00193F;
		}
		a {
			font-size: 1.042vw;
			font-weight: normal;
			line-height: 1.40625vw;
		}
		.upload {
			padding: 10/$width*100vw 25/$width*100vw;
			background-color: #1E92FE;
			border: 1/$width*100vw solid #1E92FE;
			border-radius: 0.365vw;
			color: white;
		}
	}
}
.modal.popup_blc.new_post {
	width: 59%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
	box-shadow: 0 0.104vw 0.46875vw rgba(0, 0, 0, 0.14);
	border-radius: 0.365vw;
	box-sizing: border-box;
	padding: 0;
	label {
		padding-left: 0;
	}
	.post_blc__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #E8F2FF;
		border-radius: 0.365vw;
		padding: 1.823vw 1.5625vw 1.25vw 1.875vw;
		.post_blc__title {
			font-size: 1.458vw;
			font-weight: 900;
			line-height: 1.771vw;
			color: #000000;
		}
		.close {
			position: relative;
			width: 1.354vw;
			height: 1.354vw;
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 1.354vw;
				height: 0.208vw;
				background-color: #000000;
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 1.354vw;
				height: 0.208vw;
				background-color: #000000;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	form {
		padding: 0.78125vw 1.875vw 2.03125vw;
		.form__header {
			display: flex;
			align-items: center;
			margin-bottom: 0.78125vw;
			.profile_photo {
				width: 2.865vw;
				height: 2.865vw;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 0.521vw;
				img {
					width: 100%;
				}
			}
			select {
				max-width: 7.865vw;
				font-size: 0.885vw;
				line-height: 1.146vw;
				color: #00193F;
				border: 0.052vw solid #00193F;
				box-sizing: border-box;
				border-radius: 0.26vw;
				padding: 0.15625vw 0.417vw 0.104vw;
				background: #ffffff;
				margin: 0;
				appearance: auto;
			}
		}
		textarea {
			width: 100%;
			min-height: 9.583vw;
			background: #E8F2FF;
			border-radius: 0.365vw;
			resize: none;
			margin-bottom: 3.177vw;
		}
		.media_blc {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.input_blc {
				label {
					&:not(:last-child) {
						margin-right: 1.302vw;
					}
					&:hover {
						cursor: pointer;
					}
					input {
						width: 0;
						height: 0;
						visibility: hidden;
					}
				}
			}
			input.button {
				line-height: 1.25vw;
				width: initial;
				margin: 0;
				padding: 0.46875vw 2.34375vw 0.521vw 2.5vw;
			}
		}
	}
}
.modal.popup_blc.save_to {
	width: 17.448vw;
	padding: 0;
	.custom-checkbox {
		+ {
			label {
				&::before {
					width: 1.042vw;
					height: 1.042vw;
					border-radius: 50%;
				}
			}
		}
	}
	form {
		.head_blc {
			position: relative;
			text-align: center;
			padding-top: 0.417vw;
			padding-bottom: 0.26vw;
			border-bottom: 0.026vw solid #000000;
			.title {
				font-size: 0.9375vw;
				font-weight: 600;
				line-height: 1.771vw;
				text-transform: uppercase;
				margin: 0;
				color: #000000;
			}
			.close {
				position: absolute;
				width: 0.729vw;
				height: 0.729vw;
				top: 50%;
				right: 0.677vw;
				transform: translateY(-50%);
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 0.729vw;
					height: 0.15625vw;
					background-color: #000000;
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 0.729vw;
					height: 0.15625vw;
					background-color: #000000;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
		ul {
			padding: 0.833vw 0.78125vw 0.99vw;
			border-bottom: 0.026vw solid #000000;
			margin-bottom: 0.833vw;
			height: 9.6875vw;
			overflow: auto;
			li {
				&:not(:last-child) {
					margin-bottom: 0.833vw;
				}
				label {
					font-size: 0.9375vw;
					font-weight: 600;
					line-height: 1.302vw;
					color: #00193F;
				}
			}
		}
	}
	form.footer {
		padding: 0.833vw 0.78125vw 0.99vw;
		label {
			font-size: 0.9375vw;
			font-weight: 600;
			line-height: 1.302vw;
			text-transform: uppercase;
			margin-bottom: 1.615vw;
			color: #00193F;
		}
		input {
			display: none;
			font-size: 0.9375vw;
			font-weight: 600;
			line-height: 1.302vw;
			color: #6A6A75;
			padding: 0.417vw 0.521vw 0.365vw;
			background: #FFFFFF;
			box-shadow: 0 0.104vw 0.46875vw rgba(0, 0, 0, 0.14221);
			border: 0.052vw solid #00193F;
			border-radius: 0.365vw;
			margin-bottom: 1.25vw;
		}
	}
	.button_blc {
		margin-bottom: 0.625vw;
		padding-right: 0.677vw;
		text-align: right;
		.button {
			display: inline-block;
			font-size: 0.9375vw;
			font-weight: bold;
			line-height: 1.25vw;
			padding: 0.677vw 1.40625vw 0.521vw;
			background-color: #1E92FE;
			border: 1px solid #1E92FE;
			border-radius: 0.26vw;
			color: #ffffff;
			white-space: nowrap;
			cursor: pointer;
			transition: all 0.3s linear;
			&:hover {
				background-color: #61B2FE;
			}
			&:not(.blk) {
				border: none;
			}
		}
		.button.blk {
			font-weight: normal;
		}
		.button.create {
			display: none;
		}
	}
}
.modal.edit_profile {
	width: 41.667vw;
	form {
		.add_pic__pic_blc {
			position: relative;
			background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00006)), to(rgba(0, 0, 0, 0.6))), url("../img/jobdes.png") no-repeat center center;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.00006) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/jobdes.png") no-repeat center center;
			background-size: cover;
			height: 7.865vw;
			border-radius: 0.26vw;
			overflow: hidden;
			picture {
				display: block;
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
				img[src="#"] {
					display: none;
				}
			}
			p {
				position: absolute;
				bottom: 0.26vw;
				right: 0.833vw;
				font-size: 0.833vw;
				line-height: 1.771vw;
				color: #ffffff;
				cursor: pointer;
			}
		}
		.profile_photo {
			display: block;
			position: relative;
			width: 6.25vw;
			height: 6.25vw;
			border-radius: 50%;
			overflow: hidden;
			border: 0.3125vw solid #ffffff;
			margin-top: -3.125vw;
			margin-left: 1.875vw;
			margin-bottom: 1.5625vw;
			box-sizing: border-box;
			box-shadow: 0 0.104vw 0.46875vw rgba(0, 0, 0, 0.14221);
			cursor: pointer;
			img {
				width: 100%;
			}
		}
	}
}
.modal.change_picture {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		.select_pic {
			font-size: 1.042vw;
			font-weight: bold;
			line-height: 1.771vw;
			color: #000000;
			margin-bottom: 1.302vw;
			width: 100%;
		}
		.upload__file {
			background: #E8F2FF;
			box-shadow: 0 0.104vw 0.46875vw rgba(0, 0, 0, 0.14221);
			border-radius: 0.365vw;
			.drop_zone {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-align: center;
				padding: 1.667vw;
				margin-bottom: 0;
				min-height: 130/$width*100vw;
				p {
					margin-bottom: 0.729vw;
				}
			}
		}
		.croppie-container {
			background: #D8D8D8;
			.cr-viewport {
				width: 11.458vw !important;
				height: 11.458vw !important;
				box-shadow: none;
			}
			.cr-resizer {
				box-shadow: none;
			}
			.cr-boundary {
				margin-bottom: 1.40625vw;
			}
		}
		.crop_pic_result {
			width: 10.26vw;
			height: 10.26vw;
			border-radius: 50%;
			overflow: hidden;
			background: #ffffff;
			box-shadow: 0 0.104vw 0.46875vw rgba(0, 0, 0, 0.14221);
			border: 0.46875vw solid #ffffff;
			box-sizing: border-box;
			margin-top: 2.65625vw;
			img {
				width: 100%;
			}
		}
		.button_blc {
			margin-top: 4vw;
			width: 100%;
			.delete {
				margin-bottom: 0;
				background-color: transparent;
				&:hover {
					background-color: #00193F;
					border-color: #00193F;
					color: #ffffff;
				}
			}
		}
		input[type=range] {
			&:focus {
				outline: none;
				&::-webkit-slider-runnable-track {
					background: rgba(127, 188, 243, 0.6);
				}
			}
			&::-webkit-slider-runnable-track {
				height: 0.46875vw;
				cursor: pointer;
				background: rgba(127, 188, 243, 0.6);
			}
			&::-webkit-slider-thumb {
				height: 1.09375vw;
				width: 1.09375vw;
				border-radius: 50%;
				background: #1E92FE;
				cursor: pointer;
			}
			&::-moz-range-track {
				height: 0.46875vw;
				cursor: pointer;
				background: rgba(127, 188, 243, 0.6);
			}
			&::-moz-range-thumb {
				height: 1.09375vw;
				width: 1.09375vw;
				border-radius: 50%;
				background: #1E92FE;
				cursor: pointer;
			}
		}
	}
}
.modal.team_builder {
	.button {
		margin-top: 0;
	}
}
.modal.lead_finder {
	.learn_more {
		font-size: 1.042vw;
		line-height: 1.771vw;
		color: #000000;
		padding-left: 0.521vw;
		margin-top: -0.3125vw;
		margin-bottom: 0.208vw;
		a {
			font-weight: bold;
			color: #1E92FE;
		}
	}
}
.modal.contact_info_edit {
	.title {
		margin-bottom: 1.875vw;
	}
	ul {
		column-count: 2;
		li {
			font-size: 1.042vw;
			line-height: 1.771vw;
			display: table;
			margin-bottom: 1.5625vw;
			p {
				font-weight: bold;
				color: #000000;
			}
			a {
				color: #1E92FE;
			}
		}
	}
	.button {
		line-height: 2.1875vw;
		width: 5vw;
		margin-right: 1.146vw;
		margin-top: 0.78125vw;
		text-align: center;
	}
}
.modal.contact_info_edit_form {
	input {
		&:not(input[type=submit]) {
			margin-bottom: 0.99vw;
			font-size: 1.042vw;
			line-height: 1.771vw;
			color: #1E92FE;
		}
	}
	.button.blk {
		width: 8.958vw;
	}
}
input[type=reset] {
	margin-bottom: 0.99vw;
	font-size: 1.042vw;
	line-height: 1.771vw;
	color: #1E92FE;
}
.modal.about_edit {
	textarea {
		resize: none;
		min-height: 21.615vw;
	}
}
.modal.experience_edit {
	>.title {
		margin-bottom: 1.875vw;
	}
	form {
		input {
			&:not(input[type=submit]) {
				margin-bottom: 0.99vw;
				font-size: 1.042vw;
				line-height: 1.771vw;
				color: #1E92FE;
			}
			&::-webkit-input-placeholder {
				color: #1E92FE;
			}
			&::-moz-placeholder {
				color: #1E92FE;
			}
			&:-ms-input-placeholder {
				color: #1E92FE;
			}
			&::-ms-input-placeholder {
				color: #1E92FE;
			}
			&::placeholder {
				color: #1E92FE;
			}
		}
		select {
			margin-bottom: 0.99vw;
			font-size: 1.042vw;
			line-height: 1.771vw;
			color: #1E92FE;
		}
		a[rel="modal:close"] {
			width: 8.958vw;
		}
	}
	.accordion {
		border-top: 0.104vw solid #E8ECF4;
		border-bottom: none;
		&:last-child {
			border-bottom: 0.104vw solid #E8ECF4;
		}
		.title {
			font-size: 1.25vw;
			font-weight: bold;
			line-height: 1.71875vw;
			margin-bottom: 0;
			span {
				display: block;
				font-size: 0.885vw;
				font-weight: normal;
				line-height: 1.198vw;
			}
		}
		.title.open {
			span {
				display: none;
			}
		}
		.accordion_content {
			padding: 12/$width*100vw 0;
			padding-left: 0;
			padding-right: 0;
		}
		.date_blc {
			display: flex;
			justify-content: space-between;
			select {
				width: 23.90625vw;
				margin-left: -0.521vw;
			}
			select.from_year {
				margin-bottom: 1.302vw;
			}
		}
		.checkbox {
			display: flex;
			align-items: center;
			margin-bottom: 0.417vw;
			label {
				font-size: 0.9375vw;
				font-weight: normal;
				line-height: 1.302vw;
				color: #00193F;
				padding-left: 0;
				&:before {
					border: 0.104vw solid #1E92FE;
				}
			}
		}
	}
}
.modal.talent_edit {
	>.title {
		margin-bottom: 1.875vw;
	}
	form {
		input {
			&:not(input[type=submit]) {
				margin-bottom: 0.99vw;
				font-size: 1.042vw;
				line-height: 1.771vw;
				color: #1E92FE;
			}
			&::-webkit-input-placeholder {
				color: #1E92FE;
			}
			&::-moz-placeholder {
				color: #1E92FE;
			}
			&:-ms-input-placeholder {
				color: #1E92FE;
			}
			&::-ms-input-placeholder {
				color: #1E92FE;
			}
			&::placeholder {
				color: #1E92FE;
			}
		}
		select {
			margin-bottom: 0.99vw;
			font-size: 1.042vw;
			line-height: 1.771vw;
			color: #1E92FE;
		}
		a[rel="modal:close"] {
			width: 8.958vw;
		}
	}
	.accordion {
		border-top: 0.104vw solid #E8ECF4;
		border-bottom: none;
		&:last-child {
			border-bottom: 0.104vw solid #E8ECF4;
		}
		.title {
			font-size: 1.25vw;
			font-weight: bold;
			line-height: 1.71875vw;
			margin-bottom: 0;
			span {
				display: block;
				font-size: 0.885vw;
				font-weight: normal;
				line-height: 1.198vw;
			}
		}
		.title.open {
			span {
				display: none;
			}
		}
		.accordion_content {
			padding-left: 0;
			padding-right: 0;
		}
		.date_blc {
			display: flex;
			justify-content: space-between;
			select {
				width: 23.90625vw;
				margin-left: -0.521vw;
			}
			select.from_month {
				margin-bottom: 0.625vw;
			}
			select.from_year {
				margin-bottom: 1.302vw;
			}
		}
		.checkbox {
			display: flex;
			align-items: center;
			margin-bottom: 0.417vw;
			label {
				font-size: 0.9375vw;
				font-weight: normal;
				line-height: 0.9375vw;
				color: #00193F;
				padding-left: 0;
				&:before {
					border: 0.104vw solid #1E92FE;
				}
			}
		}
	}
	label.type {
		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			select {
				width: 23.90625vw;
			}
			input {
				width: 23.90625vw;
			}
		}
	}
	.upload__file_confirm {
		display: flex;
		align-items: center;
		margin-bottom: 0.9375vw;
		p {
			&:nth-child(1) {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2.8125vw;
				height: 2.8125vw;
				font-size: 0.9375vw;
				font-weight: 800;
				line-height: 1.302vw;
				color: #ffffff;
				background: #7FBCF3;
				box-shadow: 0 0.104vw 0.46875vw rgba(0, 0, 0, 0.14221);
				border-radius: 0.365vw;
				margin-right: 0.833vw;
			}
			&:nth-child(2) {
				font-size: 0.99vw;
				line-height: 1.354vw;
				color: #00193F;
				margin-right: 4.167vw;
			}
		}
		span {
			position: relative;
			width: 1.25vw;
			height: 1.25vw;
			border-radius: 50%;
			background-color: #1E92FE;
			cursor: pointer;
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMSAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMDU3MDkgOS43NjMxMkMxLjI5OTQ3IDEwLjAwNTUgMS42OTg5NCAxMC4wMDEgMS45MzY4MyA5Ljc2MzEyTDUuNzgzNDUgNS45MTY1TDkuNjMwMDcgOS43NjMxMkM5Ljg2Nzk2IDEwLjAwMSAxMC4yNjc0IDEwLjAwNTUgMTAuNTA1MyA5Ljc2NzYxQzEwLjc0NzcgOS41MjUyMyAxMC43NDMyIDkuMTI1NzYgMTAuNTA1MyA4Ljg4Nzg3TDYuNjU4NyA1LjA0MTI1TDEwLjUwNTMgMS4xOTQ2M0MxMC43NDMyIDAuOTU2NzQgMTAuNzQ3NyAwLjU1NzI2NiAxMC41MDUzIDAuMzE0ODg5QzEwLjI2NzQgMC4wNzY5OTk4IDkuODY3OTYgMC4wODE0ODgzIDkuNjMwMDcgMC4zMTkzNzdMNS43ODM0NSA0LjE2NkwxLjkzNjgzIDAuMzE5Mzc3QzEuNjk4OTQgMC4wODE0ODgzIDEuMjk5NDcgMC4wNzY5OTk4IDEuMDU3MDkgMC4zMTkzNzdDMC44MTkxOTkgMC41NTcyNjYgMC44MjM2ODcgMC45NTY3NCAxLjA2MTU4IDEuMTk0NjNMNC45MDgyIDUuMDQxMjVMMS4wNjE1OCA4Ljg4Nzg3QzAuODIzNjg3IDkuMTI1NzYgMC44MTkxOTkgOS41MjUyMyAxLjA1NzA5IDkuNzYzMTJaIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=") no-repeat center center;
				width: 0.78125vw;
				height: 0.78125vw;
			}
		}
	}
}
input[type=reset] {
	margin-bottom: 0.99vw;
	margin-bottom: 0.99vw;
	font-size: 1.042vw;
	font-size: 1.042vw;
	line-height: 1.771vw;
	line-height: 1.771vw;
	color: #1E92FE;
	color: #1E92FE;
}
input[type=button] {
	margin-bottom: 0.99vw;
	margin-bottom: 0.99vw;
	font-size: 1.042vw;
	font-size: 1.042vw;
	line-height: 1.771vw;
	line-height: 1.771vw;
	color: #1E92FE;
	color: #1E92FE;
}
.modal.photo_edit {
	.subtitle {
		border-bottom: 0.104vw solid #E8ECF4;
		padding-bottom: 0.3125vw;
		margin-bottom: 1.09375vw;
	}
	.drop_zone {
		p {
			font-size: 1.146vw;
		}
		a {
			font-size: 1.146vw;
		}
	}
	form {
		margin-bottom: 2.917vw;
		input[type=submit] {
			padding: 0.46875vw 2.5vw 0.521vw;
			width: initial;
			font-size: 1.146vw;
			font-weight: normal;
			line-height: 1.5625vw;
		}
	}
	.picture_block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		.pic_blc {
			position: relative;
			width: 8.59375vw;
			height: 8.59375vw;
			margin-bottom: 1.667vw;
			border-radius: 0.26vw;
			overflow: hidden;
			&:hover {
				a {
					display: flex;
				}
			}
			a {
				display: none;
	
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.6)));
				background: linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.6) 100%);
				img {
					width: 1.667vw;
					height: 1.667vw;
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	a[rel="modal:close"] {
		width: 8.958vw;
	}
}
.modal.skills_edit {
	.multi_selected_items {
		.selected {
			margin-top: 0;
		}
	}
}
.modal.abuse {
	padding: 0;
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 1.927vw;
		padding-right: 1.927vw;
		padding-top: 1.823vw;
		padding-bottom: 1.302vw;
		.title {
			margin-bottom: 0;
		}
		.close {
			width: 1.042vw;
			height: 1.042vw;
			cursor: pointer;
			img {
				width: 100%;
			}
		}
	}
	.body {
		text-align: center;
		ul {
			li {
				position: relative;
				padding-top: 1.302vw;
				padding-bottom: 1.302vw;
				border-top: 0.104vw solid #E8ECF4;
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					right: 1.927vw;
					transform: rotate(-90deg) translateY(-50%);
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10'%3E%3Cg id='Default_Copy_2' data-name='Default Copy 2' transform='translate(0 10) rotate(-90)'%3E%3Cpath id='Shape' d='M8.193,17.708.724,10.65a2.242,2.242,0,0,1,0-3.3l1.5,1.414a.321.321,0,0,0,0,.472l7.47,7.057a.962.962,0,0,1,0,1.415,1.105,1.105,0,0,1-1.5,0ZM.724,7.35,8.193.293l1.5,1.415L2.22,8.764ZM8.193.293a1.105,1.105,0,0,1,1.5,0,.962.962,0,0,1,0,1.415Z' transform='translate(0)'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center center;
					background-size: cover;
					width: 0.677vw;
					height: 0.365vw;
				}
				a {
					display: block;
					font-size: 0.9375vw;
					line-height: 1.302vw;
					color: #202631;
					span {
						display: block;
						font-weight: bold;
					}
				}
			}
		}
	}
}
.modal.add_assignments {
	width: 58.646vw;
	form {
		.popup_header {
			margin-bottom: 1.615vw;
			label {
				padding: 0;
				input {
					width: 20.365vw;
					font-size: 1.458vw;
					font-weight: 900;
					line-height: 1.771vw;
					color: #000000;
					padding: 0;
					background: transparent;
					border: 0.052vw solid transparent;
					margin: 0;
					&:focus-visible {
						border: 0.052vw solid #000000;
						border-radius: 0.26vw;
					}
				}
			}
			p.assignments_type {
				font-size: 1.042vw;
				line-height: 1.771vw;
				span {
					text-decoration: underline;
				}
			}
			a.close {
				position: absolute;
				top: 1.458vw;
				right: 1.51vw;
				width: 1.354vw;
				height: 1.354vw;
				img {
					width: 100%;
					height: 100%;
					object-fit: fill;
				}
			}
		}
		.popup_body {
			display: flex;
			justify-content: space-between;
			.left_side {
				width: 37.8125vw;
				label.date {
					display: block;
					margin-bottom: 1.40625vw;
					span {
						position: relative;
						input {
							width: initial;
							display: inline-block;
							margin: 0 0 0 1.71875vw;
							padding: 0;
							background: transparent;
							font-size: 0.885vw;
							font-weight: 600;
							line-height: 1.198vw;
							color: #00CA90;
							&::-webkit-calendar-picker-indicator {
								background: transparent;
								bottom: 0;
								color: transparent;
								cursor: pointer;
								height: auto;
								left: 0;
								position: absolute;
								right: 0;
								top: 0;
								width: auto;
							}
						}
					}
				}
				label {
					textarea {
						height: 7.135vw;
						resize: none;
						margin-bottom: 1.875vw;
					}
				}
				.new_subtask {
					position: relative;
					label {
						&:hover {
							cursor: pointer;
						}
						input {
							height: 0;
							width: 0;
							opacity: 0;
							padding: 0;
							margin: 0;
							&:focus {
								height: initial;
								width: 100%;
								opacity: 1;
								padding: 0.26vw 0.729vw 0.365vw;
								margin-bottom: 1.146vw;
							}
						}
					}
					.show_finished {
						position: absolute;
						top: 0;
						right: 0;
						font-size: 0.833vw;
						font-weight: 600;
						line-height: 1.146vw;
						color: #A7A7A7;
						text-transform: uppercase;
					}
				}
				.tasks_list {
					margin-top: 0.46875vw;
					.item {
						
						
						display: flex;
			
						align-items: center;
						margin-bottom: 1.09375vw;
						label {
							padding-left: 0;
						}
						p {
							font-size: 0.9375vw;
							font-weight: 600;
							line-height: 1.302vw;
							color: #00193F;
						}
					}
				}
				.attachment_list {
					.title {
						font-size: 1.042vw;
						font-weight: bold;
						line-height: 1.771vw;
						padding-left: 0.521vw;
					}
					.item {
						margin-bottom: 1.146vw;
						.file_name {
							display: flex;
				
							align-items: center;
							font-size: 0.9375vw;
							font-weight: 600;
							line-height: 1.302vw;
							color: #00193F;
							margin-bottom: 0.26vw;
							&:before {
								content: "";
								display: inline-block;
								background: url("../img/icons/attachment.svg") no-repeat center;
								background-size: contain;
								width: 0.885vw;
								height: 1.354vw;
								margin-right: 0.729vw;
							}
						}
						.action_blc {
							a {
								display: inline-block;
								font-size: 0.729vw;
								font-weight: 600;
								line-height: 0.99vw;
								color: #00193F;
								text-transform: uppercase;
								&:not(:last-child) {
									margin-right: 1.667vw;
								}
							}
						}
					}
				}
				.discussion {
					.title {
						font-size: 1.042vw;
						font-weight: bold;
						line-height: 1.771vw;
						padding-left: 0.521vw;
					}
					.profile_photo {
						display: inline-block;
						width: 2.24vw;
						height: 2.24vw;
						border-radius: 50%;
						overflow: hidden;
						margin-right: 0.729vw;
						img {
							width: 100%;
						}
					}
					.write_new {
						display: flex;
						align-items: center;
						margin-bottom: 1.146vw;
						label {
							flex: 1;
							padding-left: 0;
							input {
								margin: 0;
							}
						}
					}
					.comment_list {
						.item {
							display: flex;
							margin-bottom: 0.729vw;
							.comment_details {
								.head {
									display: flex;
									align-items: center;
									margin-bottom: 0.052vw;
									.profile_name {
										font-size: 0.833vw;
										font-weight: bold;
										line-height: 1.146vw;
										color: #00193F;
										margin-right: 0.573vw;
									}
									.date {
										font-size: 0.833vw;
										font-weight: 600;
										line-height: 1.146vw;
										color: #A7A7A7;
									}
								}
								.comment_text {
									font-size: 0.9375vw;
									font-weight: 600;
									line-height: 1.302vw;
									color: #00193F;
								}
							}
						}
					}
				}
			}
			.right_side {
				width: 15.052vw;
				position: relative;
				.drop_open {
					display: block;
					width: 100%;
					font-size: 0.9375vw;
					line-height: 1.771vw;
					color: #000000;
					padding: 0.417vw 0.417vw 0.417vw 2.34375vw;
					background: #E8F2FF url("../img/icons/team.svg") no-repeat center left 0.625vw;
					background-size: 1.25vw;
					border-radius: 0.365vw;
					box-sizing: border-box;
					margin-bottom: 1.09375vw;
					text-transform: uppercase;
					&:hover {
						cursor: pointer;
					}
				}
				.dropdown_content {
					position: absolute;
					width: 19.6875vw;
					right: 0;
					background: #FFFFFF;
					.head_blc {
						position: relative;
						padding-top: 0.521vw;
						padding-bottom: 0.521vw;
						text-align: center;
						border-bottom: 0.052vw solid #00193F;
						.title {
							font-size: 0.9375vw;
							line-height: 1.25vw;
							font-weight: 600;
							text-transform: uppercase;
							margin: 0;
						}
						.close {
							position: absolute;
							right: 0.78125vw;
							top: 50%;
							transform: translateY(-50%);
							width: 0.677vw;
							height: 0.677vw;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
					.body_blc {
						padding: 1.354vw 0.729vw 0.521vw;
						label {
							width: 100%;
							padding: 0;
							input {
								width: 100%;
								padding: 0.417vw 0.78125vw 0.46875vw;
								border: 0.052vw solid #00193F;
								color: #00193F;
								border-radius: 0.208vw;
								font-size: 0.833vw;
								line-height: 1.25vw;
							}
						}
					}
				}
				.upload_file {
					.upload {
						display: block;
						width: 100%;
						font-size: 0.9375vw;
						line-height: 1.771vw;
						color: #000000;
						padding: 0.417vw 0.417vw 0.417vw 2.34375vw;
						background: #E8F2FF url("../img/icons/attachment.svg") no-repeat center left 0.625vw;
						background-size: 0.885vw 1.354vw;
						border-radius: 0.365vw;
						box-sizing: border-box;
						margin-bottom: 1.09375vw;
						text-transform: uppercase;
					}
				}
				label {
					padding: 0;
					select {
						font-size: 0.9375vw;
						line-height: 1.771vw;
						text-transform: uppercase;
						text-indent: 1.927vw;
						margin: 0 0 1.09375vw;
						padding: 0.417vw;
						&:hover {
							cursor: pointer;
						}
						option {
							text-transform: none;
							&:hover {
								cursor: pointer;
							}
						}
					}
					select.assignments {
						background: #E8F2FF url("../img/icons/arrow_right.svg") no-repeat center left 0.625vw;
						background-size: 0.99vw 0.885vw;
					}
					select.archive {
						background: #E8F2FF url("../img/icons/archive.svg") no-repeat center left 0.625vw;
						background-size: 0.99vw 0.99vw;
					}
				}
			}
		}
	}
}
.modal.add_new_team_project {
	width: 1126px;
	position: relative;
	.title {
		margin-bottom: 28px;
	}
	.close {
		position: absolute;
		top: 1.458vw;
		right: 1.51vw;
		width: 1.354vw;
		height: 1.354vw;
		img {
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}
	form {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		.name_title {
			width: 100%;
			font-size: 20px;
			font-weight: bold;
			line-height: 34px;
			color: #000000;
			margin-bottom: 5px;
			padding-left: 0.521vw;
		}
		.member_view {
			height: 120px;
			margin-top: -50px;
			overflow: auto;
		}
		label {
			padding: 0;
			input {
				color: #000000;
				margin-bottom: 56px;
				&::-webkit-input-placeholder {
					color: #000000;
				}
				&::-moz-placeholder {
					color: #000000;
				}
				&:-ms-input-placeholder {
					color: #000000;
				}
				&::-ms-input-placeholder {
					color: #000000;
				}
				&::placeholder {
					color: #000000;
				}
			}
			&:nth-child(2) {
				width: 726px;
			}
			&:nth-child(3) {
				width: 289px;
				input {
					padding-left: 45px;
					background: #E8F2FF url("../img/icons/team.svg") no-repeat center left 12px;
					background-size: 24px;
				}
			}
		}
		input.button {
			width: 139px;
			font-size: 22px;
			line-height: 30px;
			padding-top: 9px;
			padding-bottom: 10px;
			margin: 0;
			text-align: center;
		}
	}
}

ul li label input {
	visibility: collapse;
}

ul.professionals, ul.subprofessionals {
	display: none;
}

.accordion .title {
	font-size: 18/$width*100vw;
	font-weight: bold;
	line-height: 25/$width*100vw;
    padding: 12/$width*100vw 10/$width*100vw;
	color: black;
}

.custom-checkbox {
	visibility: collapse;
}

.custom-checkbox + label::before {
	position: relative;
	top: .25vw;
    content: "";
    display: inline-block;
    width: 1.09375vw;
    height: 1.09375vw;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.052vw solid #6A6A75;
    box-sizing: border-box;
    border-radius: 0.15625vw;
    margin-right: 0.573vw;
    background-size: 50% 50%;
    cursor: pointer;
}

.custom-checkbox:checked + label::before {
    border-color: #1E92FE;
    background-color: #1E92FE;
}

.popup_blc .accordion p.title {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-image: url(../img/icons/arrow-down.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 1.18499vw;
		margin-left: 0.32916vw;
		cursor: pointer;
		width: 32/$width*100vw;
		height: 22/$width*100vw;
		top: 13/$width*100vw;
		right: 0;
	}
}

.accordion_content {
	display: none;
}

.button_blc {
	line-height: 2.1875vw;
	width: 5.5vw;
	margin-right: 1.146vw;
	text-align: center;
	.button {
		display: inline-block;
		font-size: 0.9375vw;
		font-weight: bold;
		padding: 0 18/$width*100vw;
		background-color: #1E92FE;
		border: 1px solid #1E92FE;
		border-radius: 0.26vw;
		color: #ffffff;
		white-space: nowrap;
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover {
			background-color: #1e92fec2;
			border-color: #1e92fec2;
		}
	}
	a.button.blk {
		padding: 0 18/$width*100vw;
		background: transparent;
		font-weight: normal;
		color: #6A6A75;
		border: 1/$width*100vw #6A6A75 solid;
		&:hover {
			background-color: #00193F;
			color: #ffffff;
		}
	}
}

@media screen and (max-width:425px) {
	$width: 425;
	.modal label {
		font-size: 4.27vw;
		line-height: 5.33vw;
		font-weight: bold;
		padding-left: 0.521vw;
	}
	.modal.change_picture form{
		.button_blc {
			margin-top: 40/$width*100vw;
			margin-bottom: 20/$width*100vw;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			input[type="submit"], input[type="reset"], input[type="button"], a.button[rel="modal:close"] {
				margin-right: 0;
			}
			.delete {
				width: fit-content;
				padding-left: 10/$width*100vw;
				padding-right: 10/$width*100vw;
			}
		}
	}
	.modal input[type="text"], .modal input[type="tel"], .modal input[type="email"], .modal input[type="url"], .modal input[type="date"], .modal textarea, .modal select, .modal .select.multi > p {
		font-size: 4vw;
		padding: 1.07vw 1.87vw 1.33vw;
		border-radius: 1.5vw;
		margin-top: 0.53vw;
		margin-bottom: 3.47vw;
		line-height: 5.33vw;
	}
	.modal input[type="submit"], .modal input[type="reset"], .modal input[type="button"], .modal a.button[rel="modal:close"] {
		width: 80/$width*100vw;
		margin-top: 1.07vw;
		margin-right: 5.87vw;
		font-size: 4.27vw;
		line-height: 5.33vw;
		padding-top: 1.87vw;
		padding-bottom: 1.33vw;
		border-radius: 1.5vw;
	}
	.modal a.button[rel="modal:close"] {
		width: fit-content;
	}
	.modal.popup_blc {
		width: 87vw;
		border-radius: 1.33vw;
		padding: 2.13vw 4.27vw 4.53vw;
	}
	.modal .title {
		font-size: 4.8vw;
		line-height: 9.07vw;
		margin-bottom: 1.6vw;
		font-weight: 900;
		color: #000000;
	}
	.modal.edit_profile form .profile_photo {
		margin-top: -6.125vw;
		margin-bottom: 22/$width*100vw;
		border: 3.5/$width*100vw solid #ffffff;
		width: 47/$width*100vw;
		height: 50/$width*100vw;
	}
	.modal.edit_profile form .add_pic__pic_blc {
		height: 75/$width*100vw;
		border-radius: 1.33vw;
		p {
			font-size: 16/$width*100vw;
			line-height: 30/$width*100vw;
		}
	}
	.modal .select.multi li {
		font-size: 4vw;
		line-height: 5.5vw;
	}
	.popup_blc .accordion p.title {
		&::after {
			width: 39/$width*100vw;
			height: 28/$width*100vw;
			top: 7/$width*100vw;
		}
	}
	.modal .multi_selected_items .selected {
		font-size: 4vw;
		line-height: 6vw;
		margin-right: 2vw;
		margin-bottom: 3vw;
		border-radius: 1.33vw;
		padding: 1vw 2.5vw;
	}
	.modal .multi_selected_items .selected span {
		width: 15/$width*100vw;
		height: 11/$width*100vw;
		margin-left: 10/$width*100vw;
		&::after {
			width: 100%;
			height: 100%;
		}
	}
	.modal .multi_selected_items .selected:hover span::after {
		width: 100%;
		height: 100%;
	}
	.modal.lead_finder .learn_more {
		font-size: 4vw;
		line-height: 6vw;
	}
	.modal.popup_blc > .subtitle {
		font-size: 4.27vw;
		line-height: 9.07vw;
		margin-bottom: 1.6vw;
		font-weight: bold;
		padding-left: 0.521vw;
	}
	.modal.experience_edit .accordion .title, .modal.talent_edit .accordion .title {
		font-size: 1.25vw;
		font-weight: bold;
		line-height: 1.71875vw;
		margin-bottom: 0;
	}
	.modal.popup_blc.experience_edit .accordion .title, .modal.popup_blc.talent_edit .accordion .title {
		font-size: 4.8vw;
		line-height: 6.67vw;
		padding: 1.87vw 0;
	}
	.modal.popup_blc.experience_edit .accordion .title span, .modal.popup_blc.talent_edit .accordion .title span {
		font-size: 4.27vw;
		line-height: 5.87vw;
	}
	.modal.popup_blc.experience_edit form input:not(input[type="submit"], input[type="reset"], input[type="button"]), .modal.popup_blc.experience_edit form select, .modal.popup_blc.talent_edit form input:not(input[type="submit"], input[type="reset"], input[type="button"]), .modal.popup_blc.talent_edit form select {
		font-size: 4vw;
		line-height: 9.07vw;
		padding: 1.6vw 3.73vw;
		margin-bottom: 4vw;
		margin-left: 0;
	}
	.modal.popup_blc.experience_edit form label, .modal.popup_blc.talent_edit form label {
		line-height: 9.07vw;
	}
	.modal.popup_blc.experience_edit .accordion .date_blc, .modal.popup_blc.talent_edit .accordion .date_blc {
		flex-direction: column;
	}
	.modal.experience_edit .accordion .date_blc, .modal.talent_edit .accordion .date_blc {
		display: flex;
		justify-content: space-between;
	}
	.modal.experience_edit .accordion .date_blc select {
		width: 100%;
		margin-left: 0;
		&::placeholder {
			font-size: 4vw;
			line-height: 9.07vw;
		}
	}
	.modal.popup_blc.experience_edit .accordion .checkbox, .modal.popup_blc.talent_edit .accordion .checkbox {
		margin-bottom: 2.93vw;
	}
	.modal.popup_blc.experience_edit .accordion .checkbox label, .modal.popup_blc.talent_edit .accordion .checkbox label {
		font-size: 4.27vw;
		line-height: 5.87vw;
	}
	.custom-checkbox:checked + label::before {
		border-color: #1E92FE;
		background-color: #1E92FE;
	}
	.modal.experience_edit .accordion .checkbox label::before, .modal.talent_edit .accordion .checkbox label::before {
		border: 0.104vw solid #1E92FE;
	}
	.custom-checkbox + label::before {
		width: 4.53vw;
		height: 4.53vw;
		margin-right: 4.53vw;
		transform: translateY(2.5/$width*100vw);
	}
	.modal.experience_edit form a[rel="modal:close"] {
		width: fit-content;
	}
	.button_blc a.button.blk {
		padding-left: 10/$width*100vw;
		padding-right: 10/$width*100vw;
	}
	.modal.talent_edit label.type div {
		flex-direction: column;
	}
	.modal.talent_edit label.type div input, .modal.talent_edit label.type div select {
		width: 100%;
	}
	.modal.popup_blc .drop_zone {
		p, a {
			font-size: 4vw;
			line-height: 5vw;
		}
	}
	.modal.talent_edit .upload__file_confirm p{
		&:nth-child(1) {
			width: 7.813vw;
			height: 7.813vw;
			font-size: 2.938vw;
		}
		&:nth-child(2) {
			font-size: initial;
		}
	}
	.modal.talent_edit .upload__file_confirm span {
		width: 4vw;
		height: 4vw;
		&::before {
			width: 2.5vw;
			height: 2.5vw;
		}
	}
	.modal.talent_edit form a[rel="modal:close"] {
		width: fit-content;
	}
	.modal.photo_edit .picture_block .pic_blc {
		width: 150/$width*100vw;
		height: 150/$width*100vw;
	}
	.modal.change_picture {
		form {
			align-items: center;
			.select_pic {
				font-size: 4vw;
				line-height: 6vw;
			}
			.upload__file {
				width: 100%;
				margin: 0 auto;
				margin-bottom: 30/$width*100vw;
			}
			.crop_pic_result {
				width: 145/$width*100vw;
				height: 145/$width*100vw;
				margin-top: 0;
			}
			.croppie-container .cr-viewport {
				width: 26vw !important;
				height: 26vw !important;
			}
		}
	}
	.modal.popup_blc .drop_zone {
        height: 26vw;
    }
	.modal.change_picture form .upload__file .drop_zone {
		padding: 30/$width*100vw 8/$width*100vw;
	}
	.modal.popup_blc .drop_zone .upload {
		padding: 11/$width*100vw 20/$width*100vw;
		border-radius: 1.33vw;
	}
	
}
