html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  cursor: pointer;
}

body {
  background-color: #F2F4F8;
}

header {
  background: #fff;
  padding: 1.05332vw 2.83081vw;
  border-radius: 0 0 0.25vw 0.25vw;
  -webkit-box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.14);
          box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2.96248vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .avatar_header {
  display: none;
}

header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header_left .logo {
  width: 2.99539vw;
  height: 2.99539vw;
  margin-right: 1vw;
}

header .header_left .logo img {
  width: 100%;
}

header .header_left input {
  width: 8.88743vw;
  font-size: 0.73vw;
  padding: 0.725vw 0.725vw 0.68vw 0.94vw;
  border: 0.05vw solid #202631;
  border-radius: 1.3vw;
}

header .header_left div.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_left img.search {
  position: absolute;
  right: 1vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1vw;
}

header nav {
  font-size: 0.85583vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35.5497vw;
}

header nav li {
  display: block;
  text-align: center;
  list-style: none;
  position: relative;
}

header nav li img {
  position: absolute;
  height: 1.31666vw;
  left: -2vw;
  top: -.2vw;
}

header nav a:hover {
  font-weight: bold;
}

header .header_right {
  height: 100%;
  width: 14.81238vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_right div {
  height: 100%;
}

header .header_right .avatar {
  height: 100%;
  border-radius: 50%;
  margin-right: .5vw;
}

header .header_right .notification {
  width: 1.31vw;
  height: 1.38vw;
  margin-right: 1vw;
  position: relative;
}

header .header_right .notification img {
  position: absolute;
  top: 10%;
  width: 100%;
}

header .header_right .notification div {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 50%;
  background-color: #FF6C6C;
}

header .header_right .profile_name {
  font-size: 0.85583vw;
  font-weight: bold;
  line-height: 1.146vw;
  padding-right: 1.146vw;
}

header .header_right .drop_down_profile_menu {
  display: none;
}

section {
  width: 82.94931vw;
  margin: 0 auto;
  margin-top: 2.30415vw;
}

section .edit {
  width: 1.11916vw;
}

section .editing_div {
  display: block;
}

section .title {
  font-weight: bold;
  line-height: 2.17248vw;
  font-size: 1.31666vw;
  color: #00193F;
}

section .title_part {
  font-weight: bold;
  color: #00193F;
  font-size: 1.18499vw;
  font-weight: bold;
  line-height: 2.17248vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.92166vw 1.51415vw 0.72416vw 1.38249vw;
  border-bottom: 0.09875vw solid #E8ECF4;
}

section .title_part.outside {
  padding-left: 0;
  margin-left: 0;
  font-size: 1.38249vw;
  line-height: 2.17248vw;
  background: #F2F4F8;
}

section .interact_content {
  width: 13.49572vw;
}

section .data_part {
  padding: 1.05332vw 0;
  font-size: 0.92166vw;
  line-height: 1.31666vw;
}

section .data_part.bottom_padding_0 {
  padding-bottom: 0;
}

section .main_context_block {
  background-color: white;
  margin-bottom: 1.64582vw;
}

section .with_footer .footer {
  font-size: 0.78999vw;
  line-height: 1.57999vw;
  border-top: 0.09875vw solid #E8ECF4;
  padding-top: 0.46083vw;
  padding-bottom: 0.5925vw;
  text-align: center;
}

section .top {
  height: 28.63726vw;
}

section .top .bg_top {
  background: url(/img/jobdes.png);
  background-size: cover;
  width: 100%;
  height: 24.02897vw;
  position: relative;
}

section .top .bg_top .avatar {
  width: 7.57077vw;
  height: 8.2291vw;
  border-radius: 50%;
  border: 0.42791vw solid white;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%) translateX(5vw);
          transform: translateY(50%) translateX(5vw);
}

section .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .main_context_block {
  -webkit-box-shadow: 0 0.10533vw 0.46083vw rgba(0, 0, 0, 0.14);
          box-shadow: 0 0.10533vw 0.46083vw rgba(0, 0, 0, 0.14);
  border-radius: 0.23041vw;
}

section .left_section {
  width: 46.41211vw;
  margin-left: 5vw;
}

section .left_section .main_context_block:last-child {
  margin-bottom: 6.58328vw;
}

section .left_section .top_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: relative;
  margin-left: auto;
  width: 33.24556vw;
  height: 3.29164vw;
  line-height: 3.29164vw;
  font-size: 1.31666vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

section .left_section .top_buttons .button_add {
  width: 20.079vw;
  height: 100%;
  border-radius: .25vw;
  cursor: pointer;
  background-color: #1E92FE;
  color: white;
}

section .left_section .top_buttons .button_more {
  width: 7.57077vw;
  border-radius: .25vw;
  border: 0.05vw solid #1E92FE;
  color: #1E92FE;
}

section .welcome_block {
  line-height: 1.97498vw;
  margin-bottom: 2vw;
}

section .welcome_block .top_p {
  font-size: 1.71165vw;
  font-weight: bold;
}

section .welcome_block .info {
  font-size: 1.31666vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .welcome_block .info p {
  padding: .35vw 0;
}

section .welcome_block .info p:nth-child(1) {
  font-weight: bold;
  color: #1E92FE;
}

section .welcome_block .info p:nth-child(2) {
  margin: 0 1.5vw;
  padding: .35vw 1.5vw;
  border-right: 0.05vw solid #6A6A75;
  border-left: 0.05vw solid #6A6A75;
}

section .welcome_block .info p:nth-child(2), section .welcome_block .info p:nth-child(3) {
  color: #6A6A75;
}

section .welcome_block .info p:nth-child(4) {
  font-weight: bold;
  color: #1E92FE;
  font-size: 1.05332vw;
  margin-left: auto;
}

section .team_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2vw;
}

section .team_block .team {
  margin-right: 1.31666vw;
  border-radius: 0.32916vw;
}

section .team_block .lead {
  border-radius: 0.32916vw;
}

section .team_block div {
  width: 22.05398vw;
  border: 0.05vw solid #1E92FE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.65833vw 0.92166vw 0.85583vw;
}

section .team_block div p:nth-child(1) {
  font-size: 1.18499vw;
  font-weight: bold;
  line-height: 2.2vw;
  color: #1E92FE;
}

section .team_block div p:nth-child(2) {
  color: #202631;
  margin-bottom: 1vw;
}

section .team_block div p:nth-child(3) {
  font-weight: 800;
  color: #1E92FE;
}

section .profile-check_block {
  border-top: 0.4vw solid #1E92FE;
  padding: 1.25082vw 1.18499vw 1.64582vw 1.25082vw;
  border-radius: 0 0 .75vw .75vw;
}

section .profile-check_block .title_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.90915vw;
  padding: 0;
  border-bottom: none;
}

section .profile-check_block .title_part .arrows_block {
  width: 4.60829vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .profile-check_block .title_part .arrows_block .arrows {
  height: 1.18499vw;
  border: none;
  padding: 0 0.26333vw;
  background-color: inherit;
}

section .profile-check_block .title_part .arrows_block .arrows img {
  height: 100%;
}

section .profile-check_block .profile_stages {
  height: 1.71165vw;
  width: 100%;
  margin-bottom: 1.44832vw;
}

section .profile-check_block .profile_stages .all_stages {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section .profile-check_block .profile_stages .all_stages div {
  height: 100%;
}

section .profile-check_block .profile_stages .all_stages .circle {
  width: 1.64582vw;
  border-radius: 50%;
  background-color: #D3D3D3;
  position: absolute;
}

section .profile-check_block .profile_stages .all_stages .circle:nth-child(1) {
  left: 0;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

section .profile-check_block .profile_stages .all_stages .circle:nth-child(2) {
  left: 60.5%;
}

section .profile-check_block .profile_stages .all_stages .circle:nth-child(3) {
  left: 100%;
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
}

section .profile-check_block .profile_stages .all_stages .circle.done {
  background: #1E92FE url("../img/icons/check_white.svg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0.95458vw 0.5925vw;
}

section .profile-check_block .profile_stages .all_stages .rectangle {
  width: 5.06912vw;
  height: 0.69783vw;
  background-color: #E8F2FF;
}

section .profile-check_block .profile_stages .all_stages .rectangle.done {
  background-color: #7EB8FF;
}

section .profile-check_block .down_text {
  font-size: 0.98749vw;
  line-height: 1.64582vw;
}

section .profile-check_block p:nth-child(3) {
  font-weight: 800;
  color: #1E92FE;
  margin-bottom: 0.65833vw;
  margin-left: 1.64582vw;
}

section .profile-check_block p:nth-child(4) {
  margin-bottom: 0.98749vw;
  margin-left: 1.64582vw;
}

section .profile-check_block .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 1.875vw;
}

section .profile-check_block .buttons button {
  font-size: 1.11916vw;
  font-weight: bold;
  line-height: 2.63331vw;
  background: none;
  border: 0;
  border-radius: .25vw;
}

section .profile-check_block .buttons button:nth-child(1) {
  width: 7.24161vw;
}

section .profile-check_block .buttons button:nth-child(2) {
  background-color: #1E92FE;
  color: white;
  width: 10.53325vw;
}

section .dashboard_block .main_context_block:last-child {
  margin-bottom: 1.64582vw;
}

section .dashboard_block .blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section .dashboard_block .blocks .bl {
  width: 50%;
  padding: 1.25082vw 2.43581vw;
}

section .dashboard_block .blocks .bl:nth-child(1) {
  border-right: 0.09875vw solid #E8ECF4;
}

section .dashboard_block .blocks .numbers {
  font-size: 4.60829vw;
  font-weight: 275;
  line-height: 6.58328vw;
  color: #C8C8C8;
}

section .dashboard_block .blocks .text {
  font-size: 1.11916vw;
  font-weight: bold;
  line-height: 1.51415vw;
  color: #3593FE;
}

section .about_block .data_part {
  padding-left: 1.57999vw;
  padding-right: 1.57999vw;
}

section .experience_block .data_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

section .experience_block .data_part .experience_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.13496vw;
  padding: 0.98749vw 1.57999vw;
}

section .experience_block .data_part .experience_content:not(:last-child) {
  border-bottom: 0.09875vw solid #E8ECF4;
}

section .experience_block .data_part .company_logo {
  width: 3.94997vw;
  margin-right: 0.85583vw;
}

section .experience_block .data_part .company_logo img {
  width: 100%;
  border-radius: 50%;
}

section .experience_block .data_part a {
  font-size: 0.92166vw;
  font-weight: bold;
  line-height: 1.31666vw;
  color: #202631;
  margin-bottom: 0.06583vw;
}

section .experience_block .data_part p {
  font-size: 0.85583vw;
  line-height: 1.05332vw;
}

section .experience_block .data_part .date {
  margin-left: auto;
}

section .talent_block .data_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 1.57999vw;
  padding-right: 1.57999vw;
}

section .talent_block .interact_content {
  height: 7.24161vw;
  padding: 1.05332vw 0.78999vw 0.65833vw;
  background-color: #E8F2FF;
  width: 11.91573vw;
}

section .talent_block .interact_content:nth-child(4n) {
  margin-top: 1.18499vw;
}

section .talent_block .interact_content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

section .talent_block .interact_content .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .talent_block .interact_content .head p {
  margin-right: auto;
  font-size: 0.92166vw;
  font-weight: bold;
  line-height: 1.31666vw;
  color: #202631;
}

section .talent_block .interact_content .head img {
  width: 1.31666vw;
  border-radius: 50%;
}

section .talent_block .interact_content .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 3.09414vw;
  height: 3.09414vw;
  border-radius: 50%;
  background-color: #1E92FE;
  border: 0.1975vw solid #ffffff;
  margin-bottom: 0.36208vw;
  cursor: pointer;
  margin: 0 auto;
}

section .talent_block .interact_content .middle img {
  width: 50%;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

section .talent_block .interact_content .time_duration {
  font-size: 0.78999vw;
  line-height: 1.05332vw;
  color: #202631;
}

section .promotional_block .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 1.57999vw;
  padding-right: 1.57999vw;
}

@media screen and (min-width: 426px) {
  section .promotional_block .photos img:nth-child(1n+3), section .promotional_block .photos img:nth-child(2n+3), section .promotional_block .photos img:nth-child(3n+3) {
    margin-top: 1.18499vw;
  }
  section .promotional_block .photos img:nth-child(1), section .promotional_block .photos img:nth-child(2), section .promotional_block .photos img:nth-child(3) {
    margin-top: 0;
  }
}

section .featured_block .data_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .featured_block .data_part .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0 1.57999vw;
}

section .featured_block .data_part .content:not(:last-child) {
  padding-bottom: 1.31666vw;
  border-bottom: 0.09875vw solid #E8ECF4;
}

section .featured_block .data_part .content:not(:first-child) {
  padding-top: 1.31666vw;
}

section .featured_block .data_part .content div {
  margin-left: 1.31666vw;
}

section .featured_block .data_part .content div p:nth-child(1), section .featured_block .data_part .content div p:nth-child(2) {
  font-weight: bold;
  line-height: 1.31666vw;
}

section .featured_block .data_part .content div p:nth-child(1) {
  color: #1E92FE;
  margin-bottom: 0.26333vw;
}

section .featured_block .data_part .content div p:nth-child(2) {
  margin-bottom: 0.78999vw;
}

section .featured-skills_block .data_part {
  padding-left: 1.57999vw;
  padding-right: 1.57999vw;
}

section .featured-skills_block .data_part div {
  display: inline-block;
  padding: 0.65833vw 0.98749vw;
  font-size: 0.92166vw;
  font-weight: bold;
  line-height: 1.31666vw;
  color: #202631;
  background: #E8F2FF;
  border-radius: 0.365vw;
  margin-right: 1.11916vw;
  margin-bottom: 1.11916vw;
}

section .contacts_block .data_part, section .interests_block .data_part {
  padding-left: 1.57999vw;
  padding-right: 1.57999vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .contacts_block .data_part .item, section .interests_block .data_part .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

section .contacts_block .data_part .item:nth-child(2n), section .interests_block .data_part .item:nth-child(2n) {
  margin-top: 0.78999vw;
}

section .contacts_block .data_part .item .avatar, section .interests_block .data_part .item .avatar {
  margin-right: 1.18499vw;
}

section .contacts_block .data_part .item .avatar img, section .interests_block .data_part .item .avatar img {
  border-radius: 50%;
  width: 3.88413vw;
}

section .contacts_block .data_part .item div p:nth-child(1), section .interests_block .data_part .item div p:nth-child(1) {
  font-size: 0.92166vw;
  font-weight: bold;
  line-height: 1.31666vw;
  color: #202631;
  margin-bottom: 0.395vw;
}

section .contacts_block .data_part .item div p:nth-child(2), section .interests_block .data_part .item div p:nth-child(2) {
  font-size: 0.78999vw;
  line-height: 1.05332vw;
  color: #1E92FE;
}

section .right_section {
  margin-left: 2vw;
}

section .right_section .title_part {
  background-color: #1E92FE;
  color: #ffffff;
  border-radius: .25vw;
}

section .right_section .people_viewed_block .title_part {
  background: white;
  color: black;
}

section .right_section .people_viewed_block .data_part {
  padding: 0;
}

section .right_section .people_viewed_block .item {
  padding: 0.98749vw;
}

section .right_section .people_viewed_block .item:not(:last-child) {
  padding-bottom: 1.31666vw;
  border-bottom: 0.09875vw solid #E8ECF4;
}

section .right_section .people_viewed_block .item .right .add {
  width: 1.97498vw;
  height: 1.97498vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 0.06583vw #1E92FE;
  border-radius: .25vw;
}

section .right_section .people_viewed_block .item .right .add img {
  width: 0.72416vw;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section .right_section .starlight_block {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0001)), color-stop(31.28%, rgba(0, 0, 0, 0.0574588)), to(#000000)), url("../img/banner.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0574588) 31.28%, #000000 100%), url("../img/banner.jpg") no-repeat center center;
  background-size: cover;
  padding: 11.8499vw 1.05332vw 0.92166vw;
}

section .right_section .starlight_block p {
  color: white;
}

section .right_section .starlight_block p:nth-child(1) {
  margin-bottom: 2.96248vw;
  font-size: 1.51415vw;
  font-weight: 900;
}

section .right_section .starlight_block p:nth-child(2) {
  width: 70%;
  font-size: 1.51415vw;
  line-height: 1.84332vw;
  font-weight: bold;
}

section .right_section .starlight_block p:nth-child(3) {
  width: 70%;
  font-size: 1.51415vw;
  line-height: 1.84332vw;
  font-weight: bold;
}

section .right_section .starlight_block p:last-child {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-transform: uppercase;
  font-size: 0.78999vw;
}

section .right_section .starlight_block button {
  background: transparent;
  margin-top: 2.30415vw;
  width: 11.52074vw;
  height: 3.94997vw;
  text-align: center;
  color: white;
  font-size: 0.85583vw;
  border: 0.06583vw solid white;
}

section .right_section .data_part {
  padding-left: 0.98749vw;
  padding-right: 0.98749vw;
}

section .right_section .data_part .inline {
  display: inline-block;
  padding: 0.65833vw 0.98749vw;
  font-size: 0.92166vw;
  font-weight: bold;
  line-height: 1.31666vw;
  color: #202631;
  background: #E8F2FF;
  border-radius: 0.365vw;
  margin-right: 1.11916vw;
  margin-bottom: 1.11916vw;
}

section .right_section .data_part .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .right_section .data_part .item .avatar {
  margin-right: 1.18499vw;
}

section .right_section .data_part .item .avatar img {
  border-radius: 50%;
  width: 3.88413vw;
}

section .right_section .data_part .item div:nth-child(2) {
  width: 10.00658vw;
}

section .right_section .data_part .item div:last-child {
  margin-left: auto;
}

section .right_section .data_part .item div p:nth-child(1) {
  font-size: 0.92166vw;
  font-weight: bold;
  line-height: 1.31666vw;
  color: #1E92FE;
  margin-bottom: 0.395vw;
}

section .right_section .data_part .item div p:nth-child(2) {
  font-size: 0.78999vw;
  line-height: 1.05332vw;
  color: #202631;
}

footer {
  background: #00193F;
  padding: 2.10665vw 8.55826vw 1.64582vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p, footer a {
  color: white;
}

footer .navs_links {
  width: 52.66623vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .navs_links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .blocks:nth-child(1) {
  margin-bottom: 1.64582vw;
}

footer .blocks:nth-child(1) img {
  width: 14.48321vw;
}

footer .blocks:nth-child(1) p {
  font-size: 1.31666vw;
  font-weight: bold;
  margin-bottom: 0.98749vw;
}

footer .blocks:nth-child(1) a {
  font-size: 0.98749vw;
  margin-bottom: 0.78999vw;
}

footer .blocks:nth-child(2) .flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .blocks:nth-child(2) .flex_row .descript {
  width: 14.81238vw;
  line-height: 1.71165vw;
}

footer .blocks:nth-child(2) .navs_links {
  width: 26.33311vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: 3.29164vw;
}

footer .blocks:nth-child(2) .navs_links a {
  padding-right: 0.65833vw;
  line-height: 1.38249vw;
}

footer .blocks:nth-child(2) .navs_links a:not(:last-child) {
  border-right: 0.06583vw solid white;
}

footer .blocks:nth-child(2) .navs_links a:not(:first-child) {
  padding: 0 0.65833vw;
}

footer .blocks:nth-child(2) p {
  font-size: 0.92166vw;
  margin-bottom: 0.98749vw;
}

footer .blocks:nth-child(2) a {
  font-size: 0.92166vw;
}

footer .blocks .sn_icons {
  width: 7.50494vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .blocks .sn_icons img {
  width: 2.10665vw;
}

@media screen and (max-width: 425px) {
  .not_mobile, *.not_mobile {
    display: none;
  }
  header, section {
    padding: 2.35294vw;
  }
  header {
    height: 100%;
    margin: 3.52941vw 2.35294vw 0;
    padding: 2.11765vw 3.29412vw;
    border-radius: 1.33vw;
  }
  header .avatar_header {
    height: 7.52941vw;
    display: block;
    margin-right: 5.88235vw;
  }
  header .avatar_header img {
    height: 100%;
    border-radius: 50%;
  }
  header div.search input {
    height: 100%;
    width: 32.47059vw;
    padding: 0 2.5vw;
    font-size: 3.29412vw;
    border-radius: 5vw;
  }
  header div.search .search {
    width: 3.52941vw;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  header .header_right {
    width: 16.47059vw;
  }
  header .header_right .notification {
    width: 5.05882vw;
    height: 5.05882vw;
    margin-right: 0;
  }
  header .header_right .notification div {
    width: 2vw;
    height: 2vw;
  }
  section {
    width: auto;
  }
  section .main_context_block {
    margin-bottom: 5.41176vw;
    border-radius: 1.33vw;
  }
  section .interact_content {
    border-radius: 1.33vw;
  }
  section .edit {
    height: 3.76471vw;
    width: 3.76471vw;
    margin-right: 0vw;
  }
  section .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .main .left_section, section .main .right_section {
    width: 100%;
    margin: 0;
  }
  section .main .top_buttons {
    top: -7.05882vw;
    width: 8.23529vw;
  }
  section .top {
    height: 37.64706vw;
  }
  section .top .bg_top {
    height: 28vw;
    border-radius: 1.33vw;
  }
  section .top .bg_top .avatar {
    width: 20vw;
    height: 20vw;
    border-width: 0.82353vw;
  }
  section .title_part {
    font-size: 4.23529vw;
    line-height: 4.23529vw;
    padding: 3.29412vw 3.05882vw;
    border-bottom: 0.41176vw solid #E8ECF4;
  }
  section .title_part.outside {
    font-size: 4.70588vw;
    margin-bottom: 2vw;
  }
  section .data_part {
    font-size: 3.76471vw;
    line-height: 4.70588vw;
  }
  section .with_footer .footer {
    font-size: 2.82353vw;
    line-height: 2.82353vw;
    border-top: 0.35294vw solid #E8ECF4;
    padding: 1.88235vw;
  }
  section .welcome_block {
    margin-bottom: 4vw;
  }
  section .welcome_block .top_p {
    font-size: 5.17647vw;
    line-height: 6.11765vw;
    margin-bottom: 1.17647vw;
  }
  section .welcome_block .info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section .welcome_block .info p {
    font-size: 4.23529vw;
    line-height: 5.17647vw;
  }
  section .welcome_block .info p:nth-child(1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 23.52941vw;
  }
  section .welcome_block .info p:nth-child(2) {
    padding-left: 2.82353vw;
    padding-right: 2.82353vw;
  }
  section .welcome_block .info p:nth-child(3) {
    padding-left: 1.41176vw;
  }
  section .team_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10vw;
  }
  section .team_block div {
    width: 100%;
    padding: 2.58824vw 4.70588vw 2.11765vw;
  }
  section .team_block div:nth-child(1) {
    margin-bottom: 4vw;
  }
  section .team_block div p:nth-child(1), section .team_block div p:nth-child(3) {
    font-size: 4.47059vw;
    line-height: 4.70588vw;
  }
  section .team_block div p:nth-child(1) {
    margin-bottom: 1.5vw;
  }
  section .team_block div p:nth-child(2) {
    line-height: 4.70588vw;
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  section .dashboard_block {
    margin-bottom: 5.41176vw;
  }
  section .dashboard_block .blocks .bl {
    padding: 5% 10% 3%;
  }
  section .dashboard_block .blocks .bl .numbers {
    font-size: 11.76471vw;
    line-height: 16.47059vw;
  }
  section .dashboard_block .blocks .bl .text {
    font-size: 3.52941vw;
    line-height: 4.70588vw;
  }
  section .about_block .data_part {
    padding: 3.52941vw 3.05882vw 4.70588vw;
  }
  section .experience_block .data_part .experience_content {
    height: 16.47059vw;
    padding-left: 3.05882vw;
    padding-right: 3.05882vw;
  }
  section .experience_block .data_part .company_name {
    line-height: 4.70588vw;
    margin-left: 1.5vw;
  }
  section .experience_block .data_part .company_name a {
    font-size: 3.76471vw;
  }
  section .experience_block .data_part .company_name p {
    font-size: 3.29412vw;
    line-height: 4.70588vw;
  }
  section .experience_block .data_part .company_logo {
    width: 9.88235vw;
    height: 9.88235vw;
  }
  section .experience_block .data_part p {
    font-size: 3.29412vw;
    line-height: 3.29412vw;
  }
  section .talent_block .data_part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2.58824vw 3.05882vw 3.52941vw;
  }
  section .talent_block .interact_content {
    width: 90%;
    height: unset;
    padding: 4.94118vw 4.47059vw;
  }
  section .talent_block .interact_content .head p {
    font-size: 4.94118vw;
    line-height: 5.64706vw;
  }
  section .talent_block .interact_content:nth-child(4n) {
    margin-top: 0;
  }
  section .talent_block .interact_content:not(:first-child) {
    margin-top: 2vw;
  }
  section .talent_block .interact_content .middle {
    width: 14.11765vw;
    height: 14.11765vw;
    border: 1.17647vw solid #ffffff;
  }
  section .promotional_block .photos {
    padding: 2.11765vw 3.05882vw;
  }
  section .promotional_block .photos .interact_content {
    width: 42.35294vw;
    margin-top: 4.70588vw;
  }
  section .promotional_block .photos .interact_content:nth-child(1), section .promotional_block .photos .interact_content:nth-child(2) {
    margin-top: 0;
  }
  section .promotional_block .photos .interact_content:nth-child(3) {
    margin-top: 4.70588vw;
  }
  section .featured_block .data_part .content {
    padding: 2.11765vw 3.05882vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  section .featured_block .data_part .content img {
    width: 26.35294vw;
    height: 26.35294vw;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 3vw;
  }
  section .featured_block .data_part .content div {
    margin-left: 0;
  }
  section .featured_block .data_part .content div p:nth-child(1) {
    width: 60%;
    position: absolute;
    top: 8%;
    left: 35%;
    line-height: 7.05882vw;
  }
  section .featured_block .data_part .content div p:nth-child(2) {
    margin-bottom: 2.5vw;
  }
  section .featured_block .data_part .content div p:nth-child(3) {
    line-height: 5.88235vw;
    margin-bottom: 2vw;
  }
  section .featured-skills_block .data_part, section .services_block .data_part, section .people_need_block .data_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2.11765vw 3.05882vw;
  }
  section .featured-skills_block .data_part .inline, section .services_block .data_part .inline, section .people_need_block .data_part .inline {
    margin-right: 12.94118vw;
    padding: 0;
  }
  section .featured-skills_block .data_part .inline:not(:last-child), section .services_block .data_part .inline:not(:last-child), section .people_need_block .data_part .inline:not(:last-child) {
    margin-bottom: 3.52941vw;
  }
  section .featured-skills_block .data_part p, section .services_block .data_part p, section .people_need_block .data_part p {
    font-size: 3.76471vw;
    line-height: 4.70588vw;
    padding: 1.41176vw 2.35294vw;
  }
  section .contacts_block .data_part, section .interests_block .data_part, section .people_viewed_block .data_part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
  }
  section .contacts_block .data_part .item, section .interests_block .data_part .item, section .people_viewed_block .data_part .item {
    width: 94%;
    padding: 3.29412vw 3.05882vw;
    border-bottom: 0.35294vw solid #E8ECF4;
  }
  section .contacts_block .data_part .item div p:nth-child(1), section .interests_block .data_part .item div p:nth-child(1), section .people_viewed_block .data_part .item div p:nth-child(1) {
    font-size: 3.52941vw;
    line-height: 4.70588vw;
  }
  section .contacts_block .data_part .item div p:nth-child(2), section .interests_block .data_part .item div p:nth-child(2), section .people_viewed_block .data_part .item div p:nth-child(2) {
    font-size: 3.05882vw;
    line-height: 3.52941vw;
  }
  section .contacts_block .data_part .item div:nth-child(2), section .interests_block .data_part .item div:nth-child(2), section .people_viewed_block .data_part .item div:nth-child(2) {
    width: unset;
  }
  section .contacts_block .data_part .item .avatar, section .interests_block .data_part .item .avatar, section .people_viewed_block .data_part .item .avatar {
    width: 10.11765vw;
    height: 10.58824vw;
    margin-right: 2.82353vw;
  }
  section .contacts_block .data_part .item .avatar img, section .interests_block .data_part .item .avatar img, section .people_viewed_block .data_part .item .avatar img {
    width: 100%;
  }
  section .right_section .title_part {
    border-top-left-radius: 1.33vw;
    border-top-right-radius: 1.33vw;
  }
  footer {
    padding: 4.70588vw 5.64706vw 16.47059vw;
  }
  footer .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .blocks:nth-child(1) {
    margin-bottom: 7.05882vw;
  }
  footer .blocks:nth-child(1) .navs_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .blocks:nth-child(1) img {
    width: 42.35294vw;
  }
  footer .blocks:nth-child(1) p {
    font-size: 5.17647vw;
    margin-top: 7.05882vw;
    margin-bottom: 2.35294vw;
  }
  footer .blocks:nth-child(1) a {
    font-size: 3.76471vw;
    margin-bottom: 2.35294vw;
  }
  footer .blocks:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .blocks:nth-child(2) a {
    font-size: 3.05882vw;
  }
  footer .blocks:nth-child(2) .navs_links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: unset;
  }
  footer .blocks:nth-child(2) .navs_links a {
    line-height: 5.17647vw;
    padding-right: 2.35294vw;
  }
  footer .blocks:nth-child(2) .navs_links a:not(:first-child) {
    padding: 0 2.35294vw;
  }
  footer .blocks:nth-child(2) .flex_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .blocks:nth-child(2) .flex_row .descript {
    width: 60%;
    margin-bottom: 4.70588vw;
  }
  footer .blocks:nth-child(2) .flex_row p {
    font-size: 3.05882vw;
    line-height: 4.23529vw;
  }
  footer .blocks .sn_icons {
    width: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 16.47059vw;
  }
  footer .blocks .sn_icons img {
    margin-right: 3.29412vw;
    width: 8vw;
  }
}
/*# sourceMappingURL=main.css.map */